<center>
  <table border="1" cellpadding="10" cellspacing="5">
    <tr>
      <td>
        <a href="/">
          Home
        </a>
      </td>
      <td>
        <a href="/quizzes">
          Quizzes
        </a>
      </td>
      <td>
        <a href="/active">
          Active
        </a>
      </td>
    </tr>
  </table>
</center>